.contain{
    margin:50px
}

.search{
    margin: 0 0 40px 220px;
    padding:10px;
    font-size: 20px;
}

.list{
    padding: 0;
    list-style: none;
    text-align: center;
}

.listItem{
    margin-bottom: 20px;
    font-size: 25px;
    color: #444;
    font-weight: 300;
}